<% layout('layouts/boilerplate')%>
  <h1>Edit your campground</h1>

  <!-- <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
    <div>
      <label for="titles">Title</label>
      <input type="text" id="title" name="campground[title]" value="<%=camp.title%>">
    </div>

    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="campground[location]" value="<%=camp.location%>">
    </div>
    <button>SAVE</button>
  </form>
  <hr>
  <a href="/campgrounds/<%=camp._id%>">Back To Campground</a> -->
  
  

  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3"> <!-- offset-3 when I want to use 6 columns but not starting from left margin, so leaving 3 columns to left and 3 to right-->
    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

      <div class="mb-3">
        <label class="form-label" for="titles">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%=camp.title%>" required> 
        <!-- by giving this name="campground[title]", when it goes to post method after sumbitting the form , 
          the database will give values to a particular campground, according to that, so for ex here whatever is filled in this 
          input will become the values of title for the new campground created.  -->
          <div class="valid-feedback"><!--just see bootstrap docs for this called bootstrap form validation-->
            Looks good!
           </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" value="<%=camp.location%>" required>
        <div class="valid-feedback"><!--just see bootstrap docs for this called bootstrap form validation-->
            Looks good!
           </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Add Images+</label>
        <input class="form-control" type="file" id="formFile" name="image" multiple>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">Rs.</span>
          <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0" aria-label="price" aria-describedby="price-label" value="<%=camp.price%>" required>
          <div class="valid-feedback"><!--just see bootstrap docs for this called bootstrap form validation-->
            Looks good!
           </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Camp Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]" required><%=camp.description%></textarea>
        <div class="valid-feedback"><!--just see bootstrap docs for this called bootstrap form validation-->
            Looks good!
           </div>
      </div>

      <div class="mb-3">
        <% camp.images.forEach(function(img,idx){ %>
          <img src="<%=img.url%>" class="img-thumbnail" alt="">
          
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%=idx%>" name="deleteImages[]" value="<%=img.filename%>">
          </div>
          <label for="image-<%=idx%>">Delete Image</label>
          
          <% }) %>

      </div>

      <div class="mb-3">
      <button class="btn btn-success">SAVE</button>
      </div>
    </form>
    <a href="/campgrounds/<%=camp._id%>">Back To Campground</a>
  

  </div>
