<!-- showing each campground in details -->

<% layout('layouts/boilerplate') %>
  <!-- <h1>Welcome to <%= camp.title %></h1>
  <h2><%=camp.location %></h2>
  <img src="<%= camp.image %>">
  <p> <%= camp.description%></p>
  <p>Rs.<%=camp.price%> per night</p>
 
    <div>
      <a href="/campgrounds/<%=camp._id%>/edit">Edit Campground</a>
    </div>
 
  <div>
    <form action="/campgrounds/<%=camp._id%>/?_method=DELETE" method="POST">
      <button>DELETE CAMPGROUND</button>
    </form>
    
  </div> -->
  <!-- <footer>
  <a href="/campgrounds">All Campgrounds</a>
  </footer> -->

  <div class="row">
    <div class="col-6">
      <div class="card mb-3">
        <img src="<%= camp.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= camp.title %>
          </h5>
          <p class="card-text">
            <%= camp.description%>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Location: <%=camp.location %>
          </li>
          <li class="list-group-item">Price: Rs.<%=camp.price%> per night</li>
        </ul>
        <div class="card-body">
          <a href="/campgrounds/<%=camp._id%>/edit" class="card-link btn btn-warning">Edit</a>
          <form class="d-inline" action="/campgrounds/<%=camp._id%>/?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>

        </div>
        <div class="card-footer text-secondary">
          <!-- <a href="/campgrounds">All Campgrounds</a> -->
          2 days ago
        </div>
      </div>
      </div>

      <div class="col-6">
       <h2>Leave A Review!</h2>
      <form action="/campgrounds/<%=camp._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
        <div class="mb-3">
          <label for="rating" class="form-label"></label>
          <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
        </div>
        <div class="mb-3">
          <label class="form-label" for="body">Review:</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      
      <% for(let review of camp.reviews) {%>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Rating:<%= review.rating %></p>
          <p class="card-text">Review:<%= review.body %></p>
          <form action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger"> Delete Review</button>
          </form>
      </div>
      </div>
      <% } %>
    </div>
  </div>